$color-basic: rgba(62, 88, 41, .6);
$color-bg: rgb(139, 155,127);
$color-column1: rgba(62, 88, 41, 0.7);
$color-add: #3E5829;
$color-link: #1D2913;
$color-white: white;
$color-muted-white: rgba($color-white, 0.7);
$color-black: #000;


$content-width: 1197px;
$desktop-widht: 1170px;
$tablet-width: 990px;
$mobile-width: 810px; 
$mobile-width-790: 790px;
$mobile-width-600: 600px;
$mobile-width-400: 400px;
$mobile-small-width: 360px; 